{% load static %}
<!-- Le home correspond a l'acceuil dans le site-->  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="script.js"></script>
    <title>MotsPassant - Home</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo"><a href="">MotsPassant</a></div>
            <ul class="menu">
                <li><a href="/propos"> À propos de nous</a></li>
			    <li><a href="/jeuxcouleur"> Quiz de couleur</a></li>
			    <li><a href="/jeuximage"> Quiz d'objet général</a></li>
            </ul>
            <a href="{% url 'signout' %}" class="action_btn">Deconnexion</a>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div class="dropdown_menu">
                <li><a href="/propos"> À propos de nous</a></li>
			    <li><a href="/jeuxcouleur"> Quiz de couleur</a></li>
			    <li><a href="/jeuximage"> Quiz d'objet général</a></li>
        </div>
    </header>
    <main>
        <section id="home">
            <h1>Welcome</h1>
            <div id="Progress">
                <div id="Bar"></div>
            </div>
            <br>
            <button onclick="move()">Click Me</button>
            <p>
                Lorem ipsum dolor sit amet, consectetur <br />
                adipisicing elit. Facere, beatae autem? </p>
        </section>
         
    </main>
    <script>
        const toggleBtn = document.querySelector('.toggle_btn')
        const toggleBtnIcon = document.querySelector('.toggle_btn i')
        const dropDownMenu = document.querySelector('.dropdown_menu')

        toggleBtn.onclick = function () {
            dropDownMenu.classList.toggle('open')
            const isOpen = dropDownMenu.classList.contains('open')

            toggleBtnIcon.classList = isOpen
            ? 'fa-solid fa-xmark'
            : 'fa-solid fa-bars'
        }
    </script>
</body>
</html>