{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>MotsPassant - Quiz général</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/stylejeuimage.css' %}">
    <script defer src="{% static 'css/js/scriptsjeuimage.js' %}"></script>
    
</head>
<body class="">
    <div class="container">
        <div id="question-container" class = "hide">
            
            <div id="question">Question</div>
            <img id="image"></img> 
            <div id="answer-buttons" class="btn-grid">
                <button class="btn">Answer1</button>
                <button class="btn">Answer2</button>
                <button class="btn">Answer3</button>
                <button class="btn">Answer4</button>
            </div>

            <div class="score">
                Votre Score : <span id = "score">0</span>
            </div>
            
        </div>
        
        <div class="controls">
            <button id="start-btn" class="start-btn btn">Start</button>
            <button id="next-btn" class="next-btn btn hide">Next</button>
        </div>
    </div>
</body>
</html>